// Typography Colors
$text-primary: #363A43;
$text-secondary: #666C7B;
$text-tertiary: #B0B4BE;
$text-default: #C7C9D1;
$text-pydra: #797E8B;

// Basic Colors
$white: #ffffff;
$black: #000000;
$primary: #028837;

// Dividers
$basic-divider: #E4E6EC;
$order-section-devider: #E0E2EA;

// Backgrounds
$order-background: #F7F7F9;